<?xml version="1.0" ?>
<Scene.XML>
<!--r3d Scene-->
<Objects>
 <spring_park_wood_002 file="spring_park_wood_002.msh" />
</Objects>
<Materials version="2">
  <mspring_park_wood_002
    diffuse="spring_park_wood_002.dds"
    color="255 255 255"
  />
</Materials>
<collision
  file="spring_park_wood_002.col"
/>
</Scene.XML>
